<!DOCTYPE html>
<html>
<link rel="graphics.css" href="/path/to/graphics.css">
  <head>
    <meta charset="utf-8">
    <title>Black-Jack</title>
    <center><h1><big><big><big>Black Jack</big></big></big></h1></center>
  </head>
  <body>
<font size="4">
  <h1>Welcome to Black Jack, would you like to play?</h1>
</font>
<!-- <body bgcolor="greem"> -->
    <input type='button' value="Yes" style="height:50px;width:50px" />
    <input type='button' value="No" onclick="window.location.href='/Thanks'" style="height:50px;width:50px"/>
    <input type='button' value="Rules" onclick="window.location.href='/Rules'" style="height:50px;width:50px"/>
    <h2>By: Gio, Miguel, and Sebastian </h2>

  </body>
</html>
