<!DOCTYPE html>
<html>
<link rel="graphics.css" href="/path/to/graphics.css">
  <head>
    <meta charset="utf-8">
    <title>Black-Jack</title>
    <center><h1>BlackJack</h1></center>
  </head>
  <body>
<h1>Welcome to Black Jack, would you like to play?</h1>
<!-- <body bgcolor="greem"> -->
    <input type='button' value="Yes" />
    <input type='button' value="No"/>
    <input type='button' value="Rules" onclick="window.location.href='/Rules'" />
    <h2>By: Gio, Miguel, and Sebastian </h2>

  </body>
</html>
